<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>BassNAM</string>
	<key>CFBundleGetInfoString</key>
	<string>BassNAM v0.8.2 Copyright 2022 Steven Atkinson</string>
	<key>CFBundleIdentifier</key>
	<string>com.daeunkwak.vst3.BassNAM</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BassNAM</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.8.2</string>
	<key>CFBundleSignature</key>
	<string>BsN1</string>
	<key>CFBundleVersion</key>
	<string>0.8.2</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.15.0</string>
</dict>
</plist>
